POSTGRES_DB=sorosoro
POSTGRES_USER=sorosoro
POSTGRES_PASSWORD=sorosoro
POSTGRES_PORT=5432

APP_PORT=8080
SPRING_PROFILES_ACTIVE=local

DB_URL=jdbc:postgresql://postgres:5432/sorosoro
DB_USERNAME=sorosoro
DB_PASSWORD=sorosoro
